html {
    font-family: Tahoma, Helvetica;
}

.form-container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.form-container * {
    margin-top: 10px;
}

.reg_ref {
    float: right;
}