html {
    font-family: Tahoma;
}

.form-container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.form-container * {
    margin-top: 10px;
}

.error {
    width: 400px;
    background-color: lightpink;
    text-align: center;
    border-radius: 5px;
}

.log_ref {
    float: right;
}